/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-sep-2018, 17:59:59
    Author     : Anton
*/
*
{
    margin: 0px;
    padding: 0px;
}
.grid
{
    display: grid;
    grid-template-column : 1fr 1fr 1fr;
    grid-template-row : 1fr 1fr;
    
}
.header
{
    background-color: blue;
    padding: 1rem;
    grid-column-start : 1;
    grid-column-end : 4;
    height : 10rem;
}
.content
{
 
    background-repeat: no;  
    height: 60rem;
    grid-column-start :1;
    grid-column-end : 3;
}
.mapa
{
    width: auto;
    height: auto;
}
.sideBar
{
    background-color: red;
    width : auto;
    grid-column-start :3;
    grid-column-end : 4;
}
.footer
{
     background-color: brown;
    grid-column-start :1;
    grid-column-end : 4;
}
